*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: linear-gradient(to right, #642c64, #41287d, #33baf4);
}

.inputBox{
  width: 100px;
  height: 40px;
  background-color: rgb(231, 231, 231);
  border-radius: 50px;
  position: relative;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.295),inset 0 10px 10px rgba(0, 0, 0, 0.295);;
}
.inputBox input{
  width: 100%;height: 100%;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  position: absolute;
}
.inputBox label{
  font-size: 2.8rem;
  position: absolute;
  cursor: pointer;
  transform: translate(-10px, -12px);
  transition: transform .4s;
}

.main{
  width: 100%;height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputBox input:checked ~ label{
  transform: translate(50px, -12px);
}